<span class="myapptitle">Log In</span>

<div class="span-23 prepend-1 last">

<% form_tag session_path do -%>
<p class="notice span-5 prepend-1" align="left"><%= label_tag 'login' %>
<%= text_field_tag 'login', @login %><br>

<%= label_tag 'password' %>
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Log in' %></p>
<% end -%>

</div>

