  	   
<p>
  <b>#:</b>
  <%=h @currency.Fimis_Identifier %>
</p> 

<p>
  <b>Currency_Identifier:</b>
  <%=h @currency.Currency_Identifier %>
</p> 

<p>
  <b>Currency_Iso_Code:</b>
  <%=h @currency.Currency_Iso_Code %>
</p> 

<p>
  <b>Currency_Description:</b>
  <%=h @currency.Currency_Description %>
</p> 

<p>
  <b>Currency_Telekurs_Code:</b>
  <%=h @currency.Currency_Telekurs_Code %>
</p> 

<p>
  <b>Currency_Other_Code:</b>
  <%=h @currency.Currency_Other_Code %>
</p> 

<p>
  <b>Currency_Country:</b>
  <%=h @currency.Currency_Country %>
</p> 

<p>
  <b>Currency_Factor:</b>
  <%=h @currency.Currency_Factor %>
</p> 

<p>
  <b>Currency_Group_1:</b>
  <%=h @currency.Currency_Group_1 %>
</p> 

<p>
  <b>Currency_Group_Description_1:</b>
  <%=h @currency.Currency_Group_Description_1 %>
</p> 

<p>
  <b>Currency_Group_2:</b>
  <%=h @currency.Currency_Group_2 %>
</p> 

<p>
  <b>Currency_Group_Description_2:</b>
  <%=h @currency.Currency_Group_Description_2 %>
</p> 

<p>
  <b>Currency_Group_3:</b>
  <%=h @currency.Currency_Group_3 %>
</p> 

<p>
  <b>Currency_Group_Description_3:</b>
  <%=h @currency.Currency_Group_Description_3 %>
</p> 

<p>
  <b>Entity_Identifier:</b>
  <%=h @currency.Entity_Identifier %>
</p>   	    
  	   
<%= link_to 'Edit', edit_currency_path(@currency) %> |
<%= link_to 'Back', currencies_path %>
