<a href="#" onclick="AppearEffect('show_search')" class ='a'>		
	<span class="ss_sprite ss_add">
		 		<img src="/images/iconmini/search-icon-blue.gif" />
	 </span>	
</a><br />	

  
<div id="show_search" style="display:none"; >
   <div class="column span-10 append-12 prepend-2 last">
	<fieldset  class="span-8">
		<legend>Search</legend> 
	<% form_for @search do |f| %>  
 
      <div class="column span-2">
        <%= f.label :rule_identification_like, "Rule" %>  
      </div>
      <div class="column span-8 last">
        <%= f.text_field :rule_identification_like , :class => 'text' %>
      </div>
      <div class="column span-2">
         <%= f.label :rule_type_like, "Type" %> 
      </div>
      <div class="column span-8 last">
      	 <select name="search[rule_type_like]">
    		<option value="">Please select</option>
      	 	<option value="ERR">Mapping Error</option>
    		<option value="LOG">Logic Error</option>
    		<option value="COM">Comparison Value</option>
    		<option value="VAL">Validation Error</option>
  		 </select> 
      	<!--%= f.text_field :rule_scope_like , :class => 'text' %-->
      </div>

	  <div class="column span-2">
         <%= f.label :rule_scope_equals, "Scope" %> 
      </div>
  
      <div class="column span-8 last">
		<select name="search[rule_scope_equals]">
    		<option value="">Please select</option>
			<option value="Limit">Limit</option>
    		<option value="Counterparty">Counterparty</option>
    		<option value="LoanBook">Loan Book</option>
    		<option value="OTC">OTC Derivatives</option>
    		<option value="Nostro">Nostro</option>
    		<option value="Provisions">Provisions</option>
  		</select>
        <!--%= f.text_field :OutputFile_equals , :class => 'text' %--> 
      </div>

      <div class="column span-6 prepend-2 last">
        <%= f.submit "Apply filters" %> 
      </div>
    <% end %> 
	</fieldset>
  </div>
</div>

<table>
	<h2 class = 'theader'>Listing validation rules</h2>
  <tr class = 'tr' >
    <th class = 'th' >Scope</th>
    <th class = 'th'>Type</th>
    <th class = 'th'>Identification</th>
    <th class = 'th'>Description</th>
  </tr>

<% @validationrules.each do |validationrule| %>
  <tr class = 'tr' >
    <td class = 'span-1'><%=h validationrule.rule_scope %></td>
    <td class = 'span-1'><%=h validationrule.rule_type %></td>  
    <td class = 'span-1'><%=h validationrule.rule_identification %></td>
    <td class= 'span-4'><%=h validationrule.rule_description %></td>
    <td class = 'span-1'><%= link_to 'More', validationrule %></td>
    <td class = 'span-1'><%= link_to 'Edit', edit_validationrule_path(validationrule) %></td>
    <td class = 'span-1'><%= link_to 'Destroy', validationrule, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @validationrules %>
  </div-->
    <%= will_paginate @validationrules, :container => false %>
</div>


<%= link_to 'Add a validation rule', new_validationrule_path, :align => 'right' %>