<h1>Editing portal</h1>

<% form_for @portal, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description2 %><br />
    <%= f.text_field :description2 %>
  </p>

  <p>  
       <%= f.label :logo, "Logo" %>
       <%= f.file_field :logo %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @portal %> |
<%= link_to 'Back', portals_path %>
