 
  <p>
   <b>ID:</b>
   <%=h @product.FiMIS_Identifier %>
  </p>
  <p>
   <b>Aggregate:</b>
   <%=h @product.DIM_Aggregate %>
  </p>
  <p>
   <b>Product_Type:</b>
   <%=h @product.Product_Type %>
  </p>
  <p>
   <b>Product_type_name:</b>
   <%=h @product.Product_type_name %>
  </p>
  <p>
   <b>Product_Kind:</b>
   <%=h @product.Product_Kind %>
  </p>
  <p>
   <b>Product_Kind_Name:</b>
   <%=h @product.Product_Kind_Name %>
  </p>
  <p>
   <b>Product_GroupBy_1:</b>
   <%=h @product.Product_GroupBy_1 %>
  </p>
  <p>
   <b>Product_GroupBy_1_name:</b>
   <%=h @product.Product_GroupBy_1_name %>
  </p>
  <p>
   <b>Product_GroupBy_2:</b>
   <%=h @product.Product_GroupBy_2 %>
  </p>
  <p>
   <b>Product_GroupBy_2_name:</b>
   <%=h @product.Product_GroupBy_2_name %>
  </p>
  <p>
   <b>Product_GroupBy_3:</b>
   <%=h @product.Product_GroupBy_3 %>
  </p>
  <p>
   <b>Product_GroupBy_3_name:</b>
   <%=h @product.Product_GroupBy_3_name %>
  </p>
 
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
